/*Selectors*/
/*HTML Element Selector */
h1 {
    color: #FF0000
}
h1 {
    color: red;
    background-color: green;
}

/* Class Selectors*/

.orange-bg {
    background-color: orange;
}

/* ID Selector */

#back-to-top {
    text-decoration: none;
    color: hotpink;
}

#blue-bg {
    background-color: blue;
}

.underline {
    text-decoration: underline;
}

/* Descendant Selector */

.orange-bg li{
    font-family: Helvitica, sans-serif;
}

#parent-div,

main th {
    color: darkblue;
}

#type>h2 {
    text-decoration: underline;
}

main th {
    color: darkblue;
}

.table-info>td {
    text-decoration: underline;
}

.container>h1 {
    color: goldenrod;
}

.container>.card {
    background-color: rebeccapurple;
}

/*Combination Selector */

h1.orange-bg {
    font-size: 16px;
}

/*ul.orange-bg {
    font-size: 24px
}*/

/*pseudoclass*/

a:link {
    color: hotpink;
}

a:visited {
    color: limegreen;
}

/*Hover pseudoclass*/

a:hover {
    color: firebrick;
}

a:active {
    color: royalblue
}
/*10/27*/

.description {
    text-decoration: underline wavy blue;
    text-align: left;
    text-indent: 3em;
}

.pokemon-name {
    font-family: "Comic Sans MS", sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 3em;
}

body {
    background-color: yellow;
    background-image: url("../img/pokeball.png");
    background-repeat: repeat-y;
    background-position-x: center;
}

.type-list {
    list-style: inside;
}

p {
    color: green
}

.card .description {
    color: inherit;
}